*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background: none;
  -webkit-font-smoothing: antialiased;
}
menu,
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.guardian-information,
.guardian-information * {
  box-sizing: border-box;
}
.guardian-information {
  height: 830px;
  position: relative;
  overflow: hidden;
  background: none; 
}
.guardian-information::before {
  content: '';
  background: url('images/Untitled\ design\ \(1\).png') center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; 
}
.rect-input,
      .rect-textarea {
        width: 100%;
        height: 100%;
        min-height: 40px;           
        box-sizing: border-box;
        padding: 10px;
        border: none;
        background: transparent;    
        font-size: 14px;
        outline: none;
        color: #000;
        font-family: SF-Pro;
        opacity: 0.7;
      }

      .rect-textarea {
        resize: none;
      }

      .rect-input::placeholder,
      .rect-textarea::placeholder {
        color: rgba(0, 0, 0, 0.45);
      }
      .rectangle-21,
      .rectangle-23,
      .rectangle-25,
      .rectangle-26,
      .rectangle-27,
      .rectangle-19 {
        cursor: text;
      }
.group-20 {
  position: absolute;
  width: 971px;
  left: 420px;
  top: 25px;
  overflow: visible;
  height: 780px;
}
.rectangle-13 {
  border-radius: 0px;
  width: 360px;
  height: 780px;
  position: absolute;
  left: 40px;
  top: 25px;
  overflow: visible;
}
.group-50 {
  position: absolute;
    width: 170px;
    height: 70px;
    left: 1216px;
    top: 727px;
}
.group-49 {
  width: 202px;
  height: 94px;
  position: static;
}
.group-48 {
  width: 202px;
  height: 94px;
  position: static;
}
.rectangle-47 {
  border-radius: 0px;
  width: 202px;
  height: 94px;
  position: absolute;
  left: 1482px;
  top: 979px;
  overflow: visible;
}
.group-8 {
  width: 80px;
  height: 40px;
  position: static;
}
.next {
  color: #ffffff;
  text-align: left;
  font-family: "SfPro-Heavy", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1543px;
  top: 1006px;
  width: 80px;
  height: 40px;
}
.line-4 {
  margin-top: -5px;
  border-style: solid;
  border-color: rgba(16, 54, 125, 0.56);
  border-width: 3.5px 0 0 0;
  width: 53px;
  position: absolute;
  left: 118px;
  top: 305px;
  transform-origin: 0 0;
  transform: rotate(89.695deg) scale(1, 1);
}
.academic-information {
  color: rgba(16, 54, 125, 0.65);
  text-align: left;
  font-family: "SfPro-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 140px;
  top: 373px;
}
.enrollment-details {
  color: #10367d;
  text-align: left;
  font-family: "SfPro-Bold", sans-serif;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    left: 140px;
    top: 592px;
}
.student-information {
  color: rgba(16, 54, 125, 0.65);
  text-align: left;
  font-family: "SfPro-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 140px;
  top: 267px;
}
.ellipse-8 {
  background: rgba(16, 54, 125, 0.56);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 101px;
  top: 261px;
}
.line-9 {
  margin-top: -5px;
  border-style: solid;
  border-color: rgba(16, 54, 125, 0.56);
  border-width: 3.5px 0 0 0;
  width: 53px;
  position: absolute;
  left: 118px;
  top: 414px;
  transform-origin: 0 0;
  transform: rotate(89.695deg) scale(1, 1);
}
.ellipse-9 {
  background: rgba(16, 54, 125, 0.56);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 101px;
  top: 367px;
}
.line-10 {
  margin-top: -5px;
  border-style: solid;
  border-color: rgba(16, 54, 125, 0.56);
  border-width: 3.5px 0 0 0;
  width: 53px;
  position: absolute;
  left: 118px;
  top: 525px;
  transform-origin: 0 0;
  transform: rotate(89.695deg) scale(1, 1);
}
.group-59 {
  position: absolute;
  inset: 0;
}
.parent-guardian-information {
  color: rgba(16, 54, 125, 0.65);
  text-align: left;
  font-family: "SfPro-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 140px;
  top: 482px;
}
.ellipse-10 {
  background: rgba(16, 54, 125, 0.56);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 101px;
  top: 476px;
}
._3 {
  color: #ffffff;
  text-align: left;
  font-family: "SfPro-Semibold", sans-serif;
  font-size: 13.5px;
  font-weight: 450;
  position: absolute;
  left: 113px;
  top: 395px;
}
.ellipse-11 {
  background: #10367d;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
    left: 101px;
    top: 585px;
}
._4 {
  color: #ffffff;
  text-align: left;
  font-family: "SfPro-Semibold", sans-serif;
    font-size: 20px;
    font-weight: 450;
    position: absolute;
    left: 110px;
    top: 588px;
}
.group-17 {
  height: 64px;
  width: 967px;
  position: absolute;
  left: 422px;
  top: 25px;
}
.line-8 {
  margin-top: -1px;
  border-style: solid;
  border-color: #10367d;
  border-width: 1px 0 0 0;
  width: 874px;
  height: 0px;
  position: absolute;
  left: 467px;
  top: 613px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(-0.106deg) scale(1, 1);
}
.group-52 {
  position: absolute;
  width: 168px;
  height: 58px;
  left: 1195px;
  top: 28px;
  overflow: visible;
}
.group-53 {
  position: absolute;
  inset: 0;
}
.group-522 {
  width: 487px;
  height: 56px;
  position: static;
}
.ellipse-12 {
  background: #adc4db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 457px;
  top: 37px;
}
.parent-guardian-information2 {
  color: #10367d;
  text-align: left;
  font-family: "SfPro-Bold", sans-serif;
    font-size: 22px;
    font-weight: 800;
    position: absolute;
    left: 507px;
    top: 45px;
}
.vector {
  width: 22px;
  height: 22px;
  position: absolute;
    left: 466px;
    top: 46px;
  overflow: visible;
}
.rectangle-21 {
  background: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: #10367d;
  border-width: 1px;
  width: 350px;
  height: 40px;
  position: absolute;
  left: 500px;
  top: 212px;
}
.rectangle-23 {
  background: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: #10367d;
  border-width: 1px;
  width: 215px;
  height: 40px;
  position: absolute;
  left: 500px;
  top: 303px;
}
.rectangle-25 {
  background: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: #10367d;
  border-width: 1px;
  width: 215px;
  height: 40px;
  position: absolute;
  left: 500px;
  top: 395px;
}
.rectangle-26 {
  background: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: #10367d;
  border-width: 1px;
  width: 300px;
  height: 40px;
  position: absolute;
  left: 800px;
  top: 303px;
}
.rectangle-27 {
  background: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: #10367d;
  border-width: 1px;
  width: 300px;
  height: 40px;
  position: absolute;
  left: 800px;
  top: 395px;
}
.rectangle-19 {
  background: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: #10367d;
  border-width: 1px;
  width: 240px;
  height: 40px;
  position: absolute;
  left: 950px;
  top: 212px;
}
.contact-number {
  color: #10367d;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.8;
  position: absolute;
  left: 500px;
  top: 280px;
  width: 329px;
}
.emergency-contact-number {
  color: #10367d;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.8;
  position: absolute;
  left: 500px;
  top: 370px;
  width: 397px;
}
.email {
  color: #10367d;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.8;
  position: absolute;
  left: 800px;
  top: 370px;
  width: 329px;
}
.home-address {
  color: #10367d;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.8;
  position: absolute;
  left: 800px;
  top: 280px;
  width: 329px;
}
.parent-guardian-full-name {
  color: #10367d;
  text-align: left;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.8;
  position: absolute;
  left: 500px;
  top: 190px;
}
.relationship-to-student {
  color: #10367d;
  text-align: center;
  font-family: "KonkhmerSleokchher-Regular", sans-serif;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.8;
  position: absolute;
  left: 880px;
  top: 190px;
  width: 296px;
  height: 40px;
}
.enter-parent-guardian-full-name {
  color: #8b8e94;
  text-align: left;
  font-family: "SfPro-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.4;
  position: absolute;
  left: 510px;
  top: 225px;
}
.enter-relationship {
  color: #8b8e94;
  text-align: left;
  font-family: "SfPro-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.4;
  position: absolute;
  left: 960px;
  top: 225px;
}
.enter-contact-number {
  color: #8b8e94;
  text-align: left;
  font-family: "SfPro-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.4;
  position: absolute;
  left: 510px;
  top: 315px;
}
.enter-contact-number2 {
  color: #8b8e94;
  text-align: left;
  font-family: "SfPro-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.4;
  position: absolute;
  left: 510px;
  top: 405px;
}
.enter-email-address {
  color: #8b8e94;
  text-align: left;
  font-family: "SfPro-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.4;
  position: absolute;
  left: 810px;
  top: 405px;
}
.enter-home-address {
  color: #8b8e94;
  text-align: left;
  font-family: "SfPro-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.4;
  position: absolute;
  left: 810px;
  top: 315px;
}
.ep-back {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 469px;
    top: 130px;
  overflow: visible;
  aspect-ratio: 1;
}
.black-modern-online-school-logo-2 {
    width: 210px;
    height: 220px;
    position: absolute;
    left: 105px;
    top: 35px;
    aspect-ratio: 1;
}
.mingcute-check-fill {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 110px;
  top: 383px;
  aspect-ratio: 1;
}

.mingcute-check-fill2 {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 112px;
  top: 550px;
  aspect-ratio: 1;
}
.group {
  width: 14px;
  height: 14px;
  position: absolute;
  left: -1px;
  top: -114px;
  overflow: visible;
}
.group2 {
  width: 14px;
  height: 14px;
  position: absolute;
  left: -3px;
  top: -66px;
  overflow: visible;
}
.group3 {
  width: 14px;
  height: 14px;
  position: absolute;
  left: -3px;
  top: -175px;
  overflow: visible;
}
/* Figma Styles of your File */
:root {
  /* Colors */
  --bg: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(16, 54, 125, 0.2) 100%
  );

  /* Fonts */
  /* Effects */
}
/* Figma Color Variables of your File */
/* Form grid container */
  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 3rem;
    max-width: 600px;
    flex-grow: 1;
  }
  label {
    display: block;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0.5rem;
    color: #10367D;
    position: relative;
    left: 491px;
    top: 50px;
  }
  input[type="text"],
  input[type="date"],
  select {
    width: 106%;
    padding: 0.5rem 1.25rem 0.5rem 0.75rem;
    border: 1.4px solid #355a98;
    border-radius: 0.5rem;
    font-weight: 400;
    color: #8c9cb2;
    font-size: 1rem;
    background-color: white;
    appearance: none; /* for select */
    position: relative;
    left: 492px;
    top: 47px;
    height: 62px;
  }
  input::placeholder,
  select:placeholder-shown {
    color: #8c9cb2;
  }
  input:focus,
  select:focus {
    outline: 2px solid #5074af;
    border-color: #5074af;
    color: #2a4365;
  }

  /* Calendar icon for date input */
  input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(30%) sepia(27%) saturate(463%) hue-rotate(195deg) brightness(95%) contrast(83%);
  }
  input[type="date"]::-moz-calendar-picker-indicator {
    cursor: pointer;
  }

  /* Dropdown arrow for select */
  select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%235D70A1' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.8rem center;
    background-size: 23px 23px;
  }